h1, h3, h4 {
  text-align: center;
}

html{

  background-color: lightseagreen;
}
.container {
  width: 550px;
  height: 300px;
  background-color: grey;
  margin-left:auto;
  margin-right:auto;
  border: 2px solid black;
}

.correct-container {
  background-color: grey;
  width: 150px;
  height: 70px;
  margin-left: 20px;
  
  
}

.choice-container {

  display: none;
  
}


.start {
  padding-left: 120px;
  font-size: 25px;
  text-align: center;
}
p {
  display: inline;
  font-weight: bold;

}

.buttons{
  width: 50px;
  padding-left: 350px;
  padding-top: 10px;


  }

.js-start {

  width: 100px;
  height: 30px;
  margin-left: 400px;
  margin-right: auto;
  display: inline-block;
  
}

  .choice-container {

    
    width: 100px;
    height: 50px;
    display: inline-block;
    margin-left: 30px;

  }

  button {

    width: 150px;
    height: 50px;
    display: inline-block;
    background-color: orangered;
    font-weight: bold;


  }

  .turnGreen {
    background-color: green;
  }

  .turnRed {
    background-color: red;
  }

#correct {

  display: none;
  text-align: center;
  padding-top: 50px;
}

#incorrect {
  display: none;
  text-align: center;
  padding-top: 50px;
}

.start{

  font-size: 30px;
  display: block;
  padding: 0px;

  
}

.js-next {

display: none;
height: 50px;
width: 100px;
margin-left: 400px;
}

.answer-container{

  width: 300px;
  height: 500px;
  padding-left: 100px;
  padding-top: 50px;
}

.results{

  display: none;
  width: 300px;
  height: 100px;
  padding-left: 130px;
}
.js-startOver{
  display: none;
  margin-left: 400px;
}