h1, h3, h4 {
  text-align: center;
}
.container {
  width: 550px;
  height: 300px;
  background-color: grey;
  margin-left:auto;
  margin-right:auto;
  border: 2px solid black;
}

.correct, .incorrect {
  border: 1px solid black;
  margin: 10px;
  height: 20px;
  width: 20px;
  display: inline-block;
  border-radius: 50%;
  padding:10px;
  background-color: white;
  margin-left: 15px;
  
}

.correct-container {
  background-color: grey;
  width: 150px;
  height: 70px;
  margin-left: 20px;
  
  
}

.choice-container {

  display: none;
  
}


.start {
  padding-left: 120px;
  font-size: 25px;
  text-align: center;
}
p {
  display: inline;
  font-weight: bold;

}

.buttons{
  width: 50px;
  padding-left: 350px;
  padding-top: 10px;


  }

.js-start {

  width: 100px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
}

  .choice-container {

    border: 1px solid black;
    width: 100px;
    height: 50px;
    display: inline-block;
    margin-left: 30px;

  }

  button {

    width: 150px;
    height: 50px;
    display: inline-block;




  }

  .turnGreen {
    background-color: green;
  }

  .turnRed {
    background-color: red;
  }

#correct {

  display: none;
}

#incorrect {
  display: none;
}
